@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.alert-success,.alert-failed{
    position: fixed;
    top: 13%;
    right: -20%;
    background: #05c46b;
    padding: 20px;
    border-radius: 10px;
    width: 220px;
    color: white;
    z-index: 99;
    animation: alert-success 2.3s ease-in-out;
    opacity: 0;
}

.alert-failed{
    background: rgb(233, 79, 79) !important;
}

@keyframes alert-success{
    0% {
        opacity: 0;
    }
    20% {
        right: -2%;
        opacity: 1;
    }
    40% {
        right: -2%;
        opacity: 1;
    }
    60%{
        right: -2%;
        opacity: 1;
    }
    80%{
        right: -2%;
        opacity: 1;
    }
    100%{
        right: -20%;
        opacity: 0;
    }
}



@keyframes alert-failed{
    0% {
        opacity: 0;
    }
    20% {
        right: -2%;
        opacity: 1;
    }
    40% {
        right: -2%;
        opacity: 1;
    }
    60%{
        right: -2%;
        opacity: 1;
    }
    80%{
        right: -2%;
        opacity: 1;
    }
    100%{
        right: -20%;
        opacity: 0;
    }
}

span.success{
    color: green;
    font-size: 0.9rem;
    margin-top: 10px;
    display: inline-block;
}

.d-flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}