@media (max-width:992px) {
    #wrapper{
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
    }
    #form-login{
        display: block !important;
        width: 80vw;
    }

    #form-register{
        display: block !important;
        width: 80vw;
    }

    #form-login .right-area{
        border-radius: 0 0 7px 7px;
    }

     #form-register .right-area{
        border-radius: 0 0 7px 7px;
    }
}